
  	<div>Song Length:</div>
  	<input type="range" min="0" max="10" value="5" name="volume">
  	<div>Artist:</div>
  	<select class="dropdown">
  		<option selected>Options</option>
  		<option> Option 1 </option>
  		<option> Option 2 </option>
  		<option> Option 3 </option>
   		<option> Option 4 </option> 		
  	</select>
   	<div>Album:</div>
  	<select class="dropdown">
  		<option selected>Options</option>
  		<option>Album Option 1 </option>
  		<option>Album Option 2 </option>
  		<option>Album Option 3 </option>
   		<option>Album Option 4 </option> 		
  	</select>
  	<div>Genre:</div>
  	<div class="checkboxContainer">
      <div class="genreColumn">
    		<label><input type="checkbox" id="chkRock" class="genreCheckbox" value="rock">Rock</label><br>
        <label><input type="checkbox" id="chkClassical" class="genreCheckbox" value="classical">Classical</label><br>
    		<label><input type="checkbox" id="chkPop" class="genreCheckbox" value="pop">Pop</label><br>
      </div>
      <div class="genreColumn">
        <label><input type="checkbox" id="chkJazz" class="genreCheckbox" value="jazz">Jazz</label><br>
    		<label><input type="checkbox" id="chkBlues" class="genreCheckbox" value="blues">Blues</label><br>
        <label><input type="checkbox" id="chkHipHop" class="genreCheckbox" values="hip hop">Hip Hop</label><br>
      </div>
  	</div>
    <div id="moreButtonContainer">
      <input type="button" id="moreButton" value="More">
    </div>
